.footer{
    background-color: #AA0601;
    padding-top: 32px;
    padding-bottom: 40px;
    .footer-head{
      display: flex;
      flex-direction: column;
    }
    .footer-menu{
            display: flex;
        a{
          &:hover{
            color: green;
          }
        }
    } 
}
.footer-body{
    padding-top: 24px;
    padding-bottom: 24px; 
}

.socailMedia{
    img{
      cursor: pointer;
    }
}
.contact {
    a{
      font-size: 36px;
      &:hover{
        color:green;
      }
    }
    img{
      height: 36px;
      width: 36px;
      margin-right: 22px;
    }
}
.copyright{
    padding-top: 32px;
    color: #fff;
    border-top: 1px solid #fff;
}
@media(max-width:992px){
  .socailMedia{
    img{
      width: 24px;
      height: 24px;
      margin-right: 24px;
    }
  }
  .contact{
    a{
      font-size: 20px;
      line-height: 30px;
    }
    img{
      width: 18px;
      height: 18px;
    }
  }
  .footer-menu{
    li{
      margin-right: 40px;
    }
  }
}
@media(max-width:992px){
  .copyright{
    span{
        font-size: 16px;
        
    }
}
}
@media(max-width:767px){
    .footer{
      .footer-menu{
        display: none;
      }     
    }
    .contact{
        a{
            font-size: 16px;  
        }
        img{
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }
    .copyright{
        span{
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    .copyright{
        span{
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    .copyright,.copyright-content{
            flex-direction: column;
    }
    .copyright-content{
        p{
            margin-bottom: 8px;
        }
    }
    .socailMedia{
        img{
          width: 24px;
          height: 24px;
        }
    }
    .footer-body{
        padding-top: 0;
    }
}


