/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans", "Roboto", sans-serif;
  font-weight: bold; }

a {
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.text-white {
  color: #fff; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mr-4 {
  margin-right: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mr-6 {
  margin-right: 48px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

@media (max-width: 992px) {
  .container {
    max-width: 720px; } }

@media (max-width: 767px) {
  .container {
    max-width: 375px; } }

.header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 56px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; }
  .header h1 a {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    background-repeat: no-repeat;
    height: 49px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .menu li {
      text-align: center; }
      .header .menu li:last-child {
        margin-right: 0; }
    .header .menu a {
      display: block;
      padding: 38px 32px 41px 32px; }
      .header .menu a:hover {
        background: orange; }

@media (max-width: 992px) {
  .header {
    padding: 0px 39px; }
    .header h1 a {
      text-align: center; }
    .header .menu a {
      padding-left: 20px;
      padding-right: 20px; } }

@media (max-width: 992px) and (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .header .menu a {
      padding-left: 32px;
      padding-right: 32px; }
    .header .menu a {
      padding-top: 0;
      padding-bottom: 0; }
    .header .menu li {
      text-align: center;
      width: 50%;
      margin: 0 auto 0 auto;
      border: 1px solid #fff;
      padding: 8px 0; } }

.footer {
  background-color: #AA0601;
  padding-top: 32px;
  padding-bottom: 40px; }
  .footer .footer-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-menu a:hover {
      color: green; }

@media (max-width: 767px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px; } }

.footer-body {
  padding-top: 24px;
  padding-bottom: 24px; }

.contact a {
  font-size: 36px; }
  .contact a:hover {
    color: green; }

.contact img {
  height: 36px;
  width: 36px;
  margin-right: 22px; }

.copyright {
  padding-top: 32px;
  color: #fff;
  border-top: 1px solid #fff; }

.copyright-content p {
  font-size: 14px; }

@media (max-width: 992px) {
  .socailMedia img {
    width: 24px;
    height: 24px; }
  .contact a {
    font-size: 20px;
    line-height: 30px; }
  .contact img {
    width: 18px;
    height: 18px; }
  .footer-menu li {
    margin-right: 40px; } }

@media (max-width: 767px) {
  .footer .footer-menu {
    display: none; }
  .contact a {
    font-size: 16px; }
  .contact img {
    width: 16px;
    height: 16px;
    margin-right: 5px; }
  .copyright {
    padding-top: 16px; }
    .copyright p {
      font-size: 14px;
      margin-bottom: 8px; }
  .copyright, .copyright-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .copyright-content p {
    margin-bottom: 8px; }
    .copyright-content p:last-child {
      margin: 0; }
  .footer-body {
    padding-top: 0; } }

.question {
  padding-top: 96px;
  padding-bottom: 160px; }

@media (max-width: 992px) {
  .question {
    padding-top: 60px;
    padding-bottom: 96px; } }

@media (max-width: 767px) {
  .question {
    padding-top: 28px;
    padding-bottom: 56px; } }

.question h2 {
  font-size: 48px;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-bottom: 60px; }

.question h3 {
  font-size: 32px;
  margin-bottom: 36px; }

@media (max-width: 992px) {
  .question h2 {
    border-left: 4px solid #9F1213;
    margin-bottom: 40px; }
  .question h3 {
    margin-bottom: 32px; } }

@media (max-width: 767px) {
  .question h2 {
    font-size: 28px;
    border-left: 4px solid #9F1213;
    padding-left: 8px;
    margin-bottom: 24px; }
  .question h3 {
    font-size: 20px;
    margin-bottom: 24px; } }

.qa-list h4 {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold; }

@media (max-width: 767px) {
  .qa-list h4 {
    font-size: 16px;
    margin-bottom: 8px; } }

.answer-list {
  margin-bottom: 32px; }

@media (max-width: 992px) {
  .answer-list {
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .answer-list {
    margin-bottom: 20px; } }

/*# sourceMappingURL=all.css.map */
